[package]
name = "librice"
description = "ICE (RFC8445) implementation"
version = "0.1.0"
authors = ["Matthew Waters <matthew@centricular.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
keywords = ["STUN", "ICE"]

[dependencies]
log = "0.4"
byteorder = "1.3.4"
env_logger = "0.7"
get_if_addrs = "0.5"
async-std = "1.6"
async-channel = "1.4"
rand = "0.7"
futures = "0.3"
futures-timer = "3.0.2"
crc = "1"
sha-1 = "0.9"
hmac = "0.9"
